.test-component {
  background-color: white;
  border: 1px solid black;
  padding: 16px;
  width: 450px;
  text-align: center;

  .heading {
    font-size: 64px;
  }

  &.test-component-secondary {
    background-color: black;
    color: white;
  }
}
